<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
    <div>
        <span sec:authentication="name">Käyttäjä: </span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>

    <h1>Book List</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.publicationYear}">Year</td>
            <td th:text="${book.isbn}">ISBN</td>
            <td th:text="${book.price}">Price</td>
            <td th:text="${book.category != null ? book.category.name : 'N/A'}">Category Name</td>
            <td>
                <a th:href="@{/deletebook/{id}(id=${book.id})}" sec:authorize="hasRole('ADMIN')">Delete</a>
                |
                <a th:href="@{/editbook/{id}(id=${book.id})}">Edit</a>
            </td>
        </tr>
    </table>
    <br>
    <a href="/addbook">Add New Book</a>
</body>
</html>
